---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";

import { Image }  from "astro:assets";
import Italia_Drapeau from "~/assets/images/decor/italy.png";
---

<Layout>
	<Section>
		<div class="flex flex-col items-center justify-center text-center px-4">
			<p class="text-[#c5a05b] text-lg font-medium">Vous cherchez quelque chose ?</p>
			<h2 class="mt-4 text-4xl font-black text-balance lg:text-5xl">
				Cette page n'existe pas.
			</h2>
			<Image src={Italia_Drapeau} class="mt-10 pointer-events-auto" alt="Drapeau italien" width={128} height={64} />
			<p class="font-bold text-brand-red text-8xl mt-10">404</p>
			<div class="mt-10">
				<a href="/" class="button button-green flex items-center justify-center px-6 py-3 text-white bg-green-600 hover:bg-green-700 rounded-lg transition">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 mr-2">
						<path fill-rule="evenodd"
							d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"
							clip-rule="evenodd"></path>
					</svg>
					Allez A La Page D'Accueil
				</a>
			</div>
		</div>
		
	</Section>
</Layout>
