---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import MenuList from "~/components/Menu.astro";
import Carroussel from "~/components/Carroussel.astro";

import Burrata from "~/assets/images/salades/buratta.jpg";
---

<Layout>
	<Carroussel image1={Burrata} image2={Burrata} image3={Burrata} alt="Some Images Galleries"/>
	<Section>		
		<MenuList />
	</Section>
</Layout>