---
import { menuMain } from "~/data/menus";
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
---

<footer class="bg-[#1E3A2E] text-white">
	<div class="container pt-16 pb-8">
	  <!-- Navigation avec Flexbox et justify-between -->
	  <nav class="flex items-center justify-between font-medium mt-6" aria-label="Footer">
		<!-- Liens de la navigation -->
		<div class="flex gap-x-12">
		  {
			menuMain.map((item) => (
			  <a href={item.url} class="hover:underline">
				{item.name}
			  </a>
			))
		  }
		</div>
  
		<!-- Logos à droite -->
		<div class="flex gap-x-6">
		  <!-- Logo Trustpilot -->
		  <a href="https://www.trustpilot.com" target="_blank" rel="noopener noreferrer">
			<i class="fab fa-trustpilot text-white text-2xl"></i> <!-- Icone Trustpilot -->
		  </a>
  
		  <!-- Logo Instagram -->
		  <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
			<i class="fab fa-instagram text-white text-2xl"></i> <!-- Icone Instagram -->
		  </a>
		</div>
	  </nav>
  
	  <!-- Texte de droit d'auteur -->
	  <p class="mt-10 text-center text-sm">
		&copy; {currentYear} {siteName}. Tout Droits Réservés. 
		<a class="underline" href="/privacy-policy">Politique De Confidentialité</a>
	  </p>
	</div>
  </footer>
  