---
title: "Informations Pratiques et Horaires"
---

<section class="bg-gray-50 py-10">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
      <!-- Infos Pratiques -->
      <div class="bg-[#0E1215] p-6 rounded-lg shadow-md flex flex-col items-center">
        <h2 class="text-2xl font-semibold text-white mb-4 text-center">Infos Pratiques</h2>
        <ul class="space-y-4 text-center">
          <li class="flex justify-between text-[#7B9CA1]">
            <span class="font-medium">Cuisine</span>
            <span>Internationale, Méditerranéenne, Cuisine Traditionnelle</span>
          </li>
          <li class="flex justify-between text-[#7B9CA1]">
            <span class="font-medium">Type de restaurant</span>
            <span>Restaurant Traditionnel</span>
          </li>
          <li class="flex justify-between text-[#7B9CA1]">
            <span class="font-medium">Services</span>
            <span>Privatisation, Climatisation, Terrasse</span>
          </li>
          <li class="flex justify-between text-[#7B9CA1]">
            <span class="font-medium">Moyens de paiement</span>
            <span>Ticket Restaurant, Paiement Sans Contact, Eurocard/Mastercard, Espèces, Visa, Carte Bleue</span>
          </li>
        </ul>
      </div>

      <!-- Horaires -->
      <div class="bg-[#161C21] p-6 rounded-lg shadow-md flex flex-col items-center">
        <h2 class="text-2xl font-semibold text-white mb-4 text-center">Horaires</h2>
        <ul class="space-y-4 text-center text-[#7B9CA1]">
          <li class="flex justify-between">
            <span class="font-medium">Lun - Jeu</span>
            <span>19h00 - 01h00</span>
          </li>
          <li class="flex justify-between">
            <span class="font-medium">Ven - Sam</span>
            <span>19h00 - 02h00</span>
          </li>
          <li class="flex justify-between">
            <span class="font-medium">Dimanche</span>
            <span>19h00 - 01h00</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
