<div class="flex flex-col lg:flex-row gap-8 mt-10">
  <!-- Colonne Infos Pratiques -->
  <div class="flex-1 flex-col">
      <h2 class="text-2xl font-bold mb-4">Infos pratiques</h2>
          <div class="mt-8">
            <p><strong>Cuisine </strong></p>
            <p class="mt-2">Italienne, Pizza Napolitaine</p>
          </div>
          <div class="mt-8">
            <p><strong>Type de restaurant</strong> </p>
            <p class="mt-2">Restaurant Italien, Pizza à emporter, Pizza Napolitaine</p>
          </div>
          <div class="mt-8">
            <p><strong>Services</strong></p>
            <p class="mt-2">Terrasse, Service continu</p>
          </div>
          <div class="mt-8">
            <p><strong>Moyens de paiement</strong> </p>
          <p class="mt-2"> Ticket Restaurant, Eurocard/Mastercard, Titres restaurant, Espèces, Visa, Carte Bleue </p>
          </div>
          

  </div>

  <!-- Colonne Horaires -->
  <div class="flex-1">
      <h2 class="text-2xl font-bold mb-4">Horaires</h2>
          <div>
            <p><strong>Lun - Jeu :</strong> </p>
            <p>12h00 - 14h30 • 19h00 - 22h30</p>
          </div>
          <div>
            <p><strong>Vendredi :</strong> </p>
            <p>12h00 - 14h30 • 19h00 - 22h45</p>
          </div>
          <div>
            <p><strong>Samedi :</strong>
              <p>12h00 - 15h30 • 19h00 - 22h45</p>
          </div>
          <div>
            <p><strong>Dimanche :</strong> </p>
            <p>12h00 - 15h30 • 19h00 - 22h30</p>
          </div>

  </div>
</div>
