---
const { id, class: className, contain = true } = Astro.props;
---

<section id={id} class={className}>
	<div class={`${contain ? "w-full mr-auto ml-auto px-3 py-16 lg:py-32 px-6" : ""}`}>
		<slot />
	</div>
</section>
