---
const { id, class: className, contain = true } = Astro.props;
---

<section id={id} class={className}>
	<div class={`${contain ? "container py-16 sm:py-4 md:py-4 lg:py-32" : ""}`}>
		<slot />
	</div>
</section>
